apiVersion: batch/v1
kind: Job
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    {% for key, value in labels.items() %}
    {{ key }}: "{{ value }}"
    {% endfor %}
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 0
  ttlSecondsAfterFinished: 172800
  template:
    metadata:
      labels:
        {% for key, value in labels.items() %}
        {{ key }}: "{{ value }}"
        {% endfor %}
    spec:
      initContainers:
      - name: jmeter
        image: {{ image }}
        command: ["sh", "-c"]
        args:
          - |
            {% if slaves %}
            jmeter -n -t /tmp/plan.jmx -l /shared/result.jtl -e -o /shared/report -Jserver.rmi.ssl.disable=true -R {%for slave in slaves%}{{ slave }},{%endfor%}
            {% else %}
            jmeter -n -t /tmp/plan.jmx -l /shared/result.jtl -e -o /shared/report -Jserver.rmi.ssl.disable=true
            {% endif %}
        volumeMounts:
        - name: jmeter-plan
          mountPath: /tmp/plan.jmx
          subPath: plan.jmx
        - name: shared-volume
          mountPath: /shared
      containers:
      - name: minio
        image: minio/mc:RELEASE.2025-03-12T17-29-24Z-cpuv1
        command: ["sh", "-c"]
        args:
          - |
            mc alias set minio {{ s3_url }} {{ s3_access_key }} {{ s3_secret_key }}
            mc cp /shared/result.jtl minio/{{ s3_bucket }}/{{ job_id }}
            mc cp --recursive /shared/report minio/{{ s3_bucket }}/{{ job_id }}        
        volumeMounts:
        - name: jmeter-plan
          mountPath: /tmp/plan.jmx
          subPath: plan.jmx
        - name: shared-volume
          mountPath: /shared
      restartPolicy: Never
      volumes:
      - name: jmeter-plan
        configMap:
          name: {{ name }}
      - name: shared-volume
        emptyDir: {}
      {% if resources %}
      resources:
        requests:
          {{ resources.requests | default('') }}
        limits:
          {{ resources.limits | default('') }}
      {% endif %}
      {% if nodeSelector %}
      nodeSelector:
        {% for key, value in nodeSelector.items() %}
        {{ key }}: "{{ value }}"
        {% endfor %}
      {% endif %}
      {% if tolerations %}
      tolerations:
        {% for toleration in tolerations %}
        - key: "{{ toleration.key | default('') }}"
          operator: "{{ toleration.operator | default('Exists') }}"
          value: "{{ toleration.value | default('') }}"
          effect: "{{ toleration.effect | default('NoExecute') }}"
        {% endfor %}
      {% endif %}
