{%- for i in range(number_of_pods) %}
---
apiVersion: v1
kind: Pod
metadata:
  name: slave-{{ i }}
  labels:
    app: jrunner
    role: slave
spec:
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - jrunner
          - key: role
            operator: In
            values:
            - slave
        topologyKey: "kubernetes.io/hostname"
  containers:
  - name: slave-{{ i }}
    image: {{ slave_image }}
    resources:
      requests:
        memory: "{{ slave_memory_request }}"
        cpu: "{{ slave_cpu_request }}"
      limits:
        memory: "{{ slave_memory_limit }}"
        cpu: "{{ slave_cpu_limit }}"
{% endfor %}