apiVersion: batch/v1
kind: Job
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    {% for key, value in labels.items() %}
    {{ key }}: "{{ value }}"
    {% endfor %}
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 0
  ttlSecondsAfterFinished: 172800
  template:
    metadata:
      labels:
        {% for key, value in labels.items() %}
        {{ key }}: "{{ value }}"
        {% endfor %}
    spec:
      {% if priority_class %}
      priorityClassName: {{ priority_class }}
      {% endif %}
      {% if image_pull_secrets %}
      imagePullSecrets:
      {% for secret in image_pull_secrets %}
      - name: {{ secret }}
      {% endfor %}
      {% endif %}
      initContainers:
      - name: jmeter
        image: {{ image_job }}
        imagePullPolicy: {{ image_pull_policy }}
        command: ["sh", "-c"]
        args:
          - |
            {% if slaves %}
            jmeter -n -t /tmp/plan.jmx -l /shared/result.jtl -e -o /shared/report -Jserver.rmi.ssl.disable=true -R {%for slave in slaves%}{{ slave }},{%endfor%}
            {% else %}
            jmeter -n -t /tmp/plan.jmx -l /shared/result.jtl -e -o /shared/report -Jserver.rmi.ssl.disable=true
            {% endif %}
        volumeMounts:
        - name: jmeter-plan
          mountPath: /tmp/plan.jmx
          subPath: plan.jmx
        - name: shared-volume
          mountPath: /shared
        {% if resources %}
        resources:
          {% for key, value in resources.items() %}
          {{ key }}:
            {{ value }}
          {% endfor %}
        {% endif %}
      containers:
      {% if storage_backend == "s3" %}
      - name: uploader
        image: {{ image_helper }}
        imagePullPolicy: {{ image_pull_policy }}
        command: ["sh", "-c"]
        args:
          - |
            {% if s3_url %}
            aws --endpoint-url {{ s3_url }} s3 cp --recursive /shared s3://{{ s3_bucket }}/{{ job_id }}/
            {% else %}
            aws s3 cp --recursive /shared s3://{{ s3_bucket }}/{{ job_id }}/
            {% endif %}
        env:
        - name: AWS_ACCESS_KEY_ID
          value: {{ s3_access_key }}
        - name: AWS_SECRET_ACCESS_KEY
          value: {{ s3_secret_key }}
        - name: AWS_DEFAULT_REGION
          value: {{ s3_region }}
        volumeMounts:
        - name: shared-volume
          mountPath: /shared
      {% endif %}
      {% if storage_backend == "fs" %}
      - name: uploader
        image: {{ image_helper }}
        imagePullPolicy: {{ image_pull_policy }}
        command: ["sh", "-c"]
        args:
          - |
            cp -r /shared/* /data/{{ job_id }}
        volumeMounts:
        - name: shared-volume
          mountPath: /shared
        - name: storage-pvc
          mountPath: /data
      {% endif %}
      restartPolicy: Never
      volumes:
      - name: jmeter-plan
        configMap:
          name: {{ name }}
      - name: shared-volume
        emptyDir: {}
      {% if storage_backend == "fs" %}
      - name: storage-pvc
        persistentVolumeClaim:
          claimName: {{ storage_pvc_name }}
      {% endif %}
      {% if nodeSelector %}
      nodeSelector:
        {% for key, value in nodeSelector.items() %}
        {{ key }}: "{{ value }}"
        {% endfor %}
      {% endif %}
      {% if tolerations %}
      tolerations:
        {% for toleration in tolerations %}
        - key: "{{ toleration.key | default('') }}"
          operator: "{{ toleration.operator | default('Exists') }}"
          value: "{{ toleration.value | default('') }}"
          effect: "{{ toleration.effect | default('NoExecute') }}"
        {% endfor %}
      {% endif %}
