apiVersion: batch/v1
kind: Job
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    {% for key, value in labels.items() %}
    {{ key }}: "{{ value }}"
    {% endfor %}
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 0
  ttlSecondsAfterFinished: 172800
  template:
    metadata:
      labels:
        {% for key, value in labels.items() %}
        {{ key }}: "{{ value }}"
        {% endfor %}
    spec:
      {% if priority_class %}
      priorityClassName: {{ priority_class }}
      {% endif %}
      {% if image_pull_secrets %}
      imagePullSecrets:
      {% for secret in image_pull_secrets %}
      - name: {{ secret }}
      {% endfor %}
      {% endif %}
      containers:
      - name: jmeter
        image: {{ image_job }}
        imagePullPolicy: {{ image_pull_policy }}
        command: ["sh", "-c"]
        args:
          - |
            mkdir -p /data/{{ job_id }}
            {% if slaves %}
            jmeter -n -t /tmp/plan.jmx -l /data/{{ job_id }}/result.jtl -f -Jserver.rmi.ssl.disable=true -R {%for slave in slaves%}{{ slave }},{%endfor%}
            {% else %}
            jmeter -n -t /tmp/plan.jmx -l /data/{{ job_id }}/result.jtl -f -Jserver.rmi.ssl.disable=true
            {% endif %}
        volumeMounts:
        - name: plan
          mountPath: /tmp/plan.jmx
          subPath: plan.jmx
        - name: data
          mountPath: /data
        {% if resources %}
        resources:
          {% for key, value in resources.items() %}
          {{ key }}:
            {{ value }}
          {% endfor %}
        {% endif %}
      restartPolicy: Never
      volumes:
      - name: plan
        configMap:
          name: {{ name }}
      - name: data
        persistentVolumeClaim:
          claimName: {{ storage_pvc_name }}
      {% if nodeSelector %}
      nodeSelector:
        {% for key, value in nodeSelector.items() %}
        {{ key }}: "{{ value }}"
        {% endfor %}
      {% endif %}
      {% if tolerations %}
      tolerations:
        {% for toleration in tolerations %}
        - key: "{{ toleration.key | default('') }}"
          operator: "{{ toleration.operator | default('Exists') }}"
          value: "{{ toleration.value | default('') }}"
          effect: "{{ toleration.effect | default('NoExecute') }}"
        {% endfor %}
      {% endif %}
