apiVersion: batch/v1
kind: Job
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  ttlSecondsAfterFinished: 300
  template:
    spec:
      containers:
      - name: {{ name }}
        image: busybox
        command: ["cat", "/tmp/{{ cm_key }}"]
        volumeMounts:
        - name: jmeter-plan
          mountPath: /tmp/{{ cm_key }}
          subPath: {{ cm_key }}
      restartPolicy: Never
      volumes:
      - name: jmeter-plan
        configMap:
          name: {{ name }}
