apiVersion: batch/v1
kind: Job
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels: {{ labels }}
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 0
  ttlSecondsAfterFinished: 172800
  template:
    metadata:
      labels: {{ labels }}
    spec:
      containers:
      - name: jmeter
        image: {{ job_image }}
        command: ["sh", "-c"]
        args:
          - |
            jmeter -n -t {{ jmeter_base_dir }}/{{ configmap_key }} -l result.jtl -e -o report
            mc alias set minio {{ endpoint_url }} {{ access_key }} {{ secret_key }}
            mc cp result.jtl minio/{{ bucket }}/{{ job_id }}/result.jtl
            mc cp --recursive report minio/{{ bucket }}/{{ job_id }}/report        
        volumeMounts:
        - name: jmeter-plan
          mountPath: {{ jmeter_base_dir }}/{{ configmap_key }}
          subPath: {{ configmap_key }}
      restartPolicy: Never
      volumes:
      - name: jmeter-plan
        configMap:
          name: {{ name }}
      {% if nodeSelector %}
      nodeSelector:
        {% for key, value in nodeSelector.items() %}
        {{ key }}: "{{ value }}"
        {% endfor %}
      {% endif %}
      {% if tolerations %}
      tolerations:
        {% for toleration in tolerations %}
        - key: "{{ toleration.key | default('') }}"
          operator: "{{ toleration.operator | default('Exists') }}"
          value: "{{ toleration.value | default('') }}"
          effect: "{{ toleration.effect | default('NoExecute') }}"
        {% endfor %}
      {% endif %}
